<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div class="header p-d-flex p-jc-between p-ai-center">
  <div class="logo">Logo</div>
  <div class="menu p-d-none p-d-lg-flex">
    <a href="#" class="p-mr-3">Home</a>
    <a href="#" class="p-mr-3">Sobre</a>
    <a href="#" class="p-mr-3">Serviços</a>
    <a href="#" class="p-mr-3">Contato</a>
  </div>
  <button pButton type="button" icon="pi pi-bars" class="p-button-rounded p-button-text p-button-lg p-d-lg-none"></button>
</div>
<body>
  
</body>
</html>