.header {
    background-color: #007ad9;
    color: #fff;
    padding: 1rem;
    
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .menu {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }